# goreleaser artifacts
/dist/

# third-party dependencies
/vendor/

# code coverage and quality reports
/*.out

# sensitive data
*.env
*.hosts
.tuna.toml
http-client.private.env.json

# ai agent data
.claude
